<html>

<head>
    <meta charset="utf-8">
    <title>KHELLO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/carl.css">
</head>

<body>
    <p class="p1">Thank you again for saving me! </p>
    <p class="p2"> My name is Carl</p>
    <p class="p3">Want to join me on my journey to become a true habibi?</p>
    <div class="buttonContainer">
        <a id="button1" href="theFirstTrial.html">giga chad</a>
        <a id="button2" href="hello.html">beta squad</a>
    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="icons">
            <li><a href="hello.html"><i class="fa-solid fa-house"></i></a></li>
        </ul>

    </footer>
</body>

</html>